<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LHL Instagram</title>
  <link rel="stylesheet" href="styles.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
  <h3>InstaLHL!</h3>
  <form id="search">
    <input id="search-input" placeholder="#tag"></input>
    <button>Submit</button>
  </form>
  <div id="results"> 
  </div>
</body>
</html>